body {
  margin: 0px;
  padding: 0px;
  background: #FFFBED;
  text-align: center;
}

.landscape {
  position: absolute;
  text-align: center;
  top: 10%;
  left: 25%;
  width: 750px;
  height: 750px;
  border-radius: 50%;
  background: #88EAF7;
  overflow: hidden;
  border: double 15px black;
}
.landscape .sky .cloud-1 {
  width: 210px;
  height: 70px;
  background: #f2f9fe;
  border-radius: 100px;
  position: absolute;
  opacity: 0.9;
  top: 90px;
  left: 502px;
  animation-name: shiftTwo;
  animation-duration: 23s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.landscape .sky .cloud-2 {
  width: 160px;
  height: 70px;
  background: #f2f9fe;
  border-radius: 100px;
  position: absolute;
  opacity: 1.6;
  top: 80;
  left: 329px;
  animation-name: shift;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.landscape .sky .cloud-3 {
  width: 310px;
  height: 70px;
  background: #f2f9fe;
  border-radius: 100px;
  position: absolute;
  opacity: 2.7;
  top: 170px;
  left: 506px;
  animation-name: shiftTwo;
  animation-duration: 29s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.landscape .sky .cloud-4 {
  width: 220px;
  height: 70px;
  background: #f2f9fe;
  border-radius: 100px;
  position: absolute;
  opacity: 3.2;
  top: 160;
  left: 333px;
  animation-name: shift;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.landscape .wind {
  background-color: #f2f9fe;
  opacity: .5;
  width: 100px;
  height: 5px;
  position: absolute;
  top: 300px;
  left: 100px;
  border-radius: 10%;
  transform: translate(-500px, 0px);
  animation-name: windBlow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
}
.landscape .wind:before {
  content: "";
  background-color: #f2f9fe;
  opacity: .7;
  width: 100px;
  height: 5px;
  position: absolute;
  top: 50px;
  left: 100px;
  border-radius: 10%;
}
.landscape .wind:after {
  content: "";
  background-color: #f2f9fe;
  opacity: .6;
  width: 100px;
  height: 5px;
  position: absolute;
  top: 100px;
  border-radius: 10%;
}
.landscape .windmills {
  transform: translate(-140px, 50px);
}
.landscape .windmills .windmill-1 {
  position: absolute;
  overflow: visible;
  transform: translate(250px, 250px);
}
.landscape .windmills .windmill-1 .pole {
  margin: 10px;
  width: 10px;
  height: 230px;
  background-color: black;
  border-radius: 30%;
}
.landscape .windmills .windmill-1 .bearing {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 5px;
  z-index: 1;
}
.landscape .windmills .windmill-1 .blades-1 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-1 .blades-1 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-1 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-1 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-1 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-1 .blades-1 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-1 .blades-1 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .windmills .windmill-1 .blades-2 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-1 .blades-2 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-2 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-2 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-2 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-1 .blades-2 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-1 .blades-2 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .windmills .windmill-1 .blades-3 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-1 .blades-3 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-3 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-3 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-1 .blades-3 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-1 .blades-3 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-1 .blades-3 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .windmills .windmill-2 {
  position: absolute;
  overflow: visible;
  transform: translate(500px, 250px);
}
.landscape .windmills .windmill-2 .pole {
  margin: 10px;
  width: 10px;
  height: 230px;
  background-color: black;
  border-radius: 30%;
}
.landscape .windmills .windmill-2 .bearing {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 5px;
  z-index: 1;
}
.landscape .windmills .windmill-2 .blades-1 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-2 .blades-1 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-1 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-1 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-1 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-2 .blades-1 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-2 .blades-1 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .windmills .windmill-2 .blades-2 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-2 .blades-2 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-2 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-2 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-2 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-2 .blades-2 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-2 .blades-2 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .windmills .windmill-2 .blades-3 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-2 .blades-3 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-3 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-3 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-2 .blades-3 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-2 .blades-3 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-2 .blades-3 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .windmills .windmill-3 {
  position: absolute;
  overflow: visible;
  transform: translate(750px, 250px);
}
.landscape .windmills .windmill-3 .pole {
  margin: 10px;
  width: 10px;
  height: 230px;
  background-color: black;
  border-radius: 30%;
}
.landscape .windmills .windmill-3 .bearing {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 5px;
  z-index: 1;
}
.landscape .windmills .windmill-3 .blades-1 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-3 .blades-1 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-1 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-1 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-1 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-3 .blades-1 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-3 .blades-1 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .windmills .windmill-3 .blades-2 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-3 .blades-2 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-2 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-2 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-2 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-3 .blades-2 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-3 .blades-2 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .windmills .windmill-3 .blades-3 {
  position: absolute;
  top: 0px;
  left: -35.5px;
  animation: rotation;
  animation-duration: 5s;
  animation-delay: 3.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.landscape .windmills .windmill-3 .blades-3 .blade-1 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-3 .blade-2 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-3 .blade-3 {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 45%;
}
.landscape .windmills .windmill-3 .blades-3 .blade-1 {
  transform: translate(0px, -40px) rotate(90deg);
}
.landscape .windmills .windmill-3 .blades-3 .blade-2 {
  transform: translate(-40px, 25px) rotate(-35deg);
}
.landscape .windmills .windmill-3 .blades-3 .blade-3 {
  transform: translate(40px, 15px) rotate(35deg);
}
.landscape .hills .h-1 {
  float: left;
  width: 250px;
  height: 200px;
  background-color: #78FF8E;
  margin-top: 500px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.landscape .hills .h-2 {
  float: left;
  width: 250px;
  height: 200px;
  background-color: #78FF8E;
  margin-top: 500px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.landscape .hills .h-3 {
  float: left;
  width: 250px;
  height: 200px;
  background-color: #78FF8E;
  margin-top: 500px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.landscape .hills .ground {
  width: 750px;
  height: 200px;
  background: #78FF8E;
  top: 725px;
  overflow: hidden;
  margin-top: 550px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes shift {
  0% {
    transform: translate(-700px, 0px);
  }
  100% {
    transform: translate(500px, 0px);
  }
}
@keyframes shiftTwo {
  0% {
    transform: translate(-800px, 0px);
  }
  100% {
    transform: translate(500px, 0px);
  }
}
@keyframes windBlow {
  0% {
    transform: translate(-800px, 0px);
  }
  100% {
    transform: translate(1600px, 0px);
  }
}
